/* .container {
    max-width: 750px !important;
} */
#cartasRow {
    align-items: space-between;
}
#btnBorrar, #btnResumen {
    background-color: #82CD47;
}
/* texto de venta */
#text-venta {
    font-size: 20px;
}
#text-valor {
    font-size: 35px;
}
/* a pagar */
.alert{
    font-size: 16px;
}
